body {
  background-color: #f8f9fa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
}

h2 {
  color: #b71c1c; /* Carmín */
}

.btn-primary {
  background-color: #b71c1c;
  border-color: #b71c1c;
}

.btn-primary:hover {
  background-color: #9c1818;
  border-color: #9c1818;
}

.text-danger {
  font-size: 0.875rem;
}

.input-group-text {
  cursor: pointer;
}
