$primary-color: #d6c17f;
$secondary-color: #6c757d;
$dark-bg-color: #343a40;
$light-bg-color: #f8f9fa;
$button-border-radius: 20px;
$text-light: #ffffff;
$text-dark: #343a40;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --dark-bg-color: #{$dark-bg-color};
  --light-bg-color: #{$light-bg-color};
  --text-light: #{$text-light};
  --text-dark: #{$text-dark};
}

.container {
  margin-top: 20px;
}

.filters-column {
  position: relative;
  margin-left: -8px !important;
}

.filters-card {
  background-color: $dark-bg-color;
  color: $text-light;
  border: none;
  width: 300px;
  padding: 20px;

}

.filters-card .card-title {
  font-weight: bold;
  color: $primary-color;
}

.filters-card .form-label {
  color: $primary-color;
}

.filters-card .form-control,
.filters-card .form-select {
  background-color: #495057;
  color: $text-light;
  border: 1px solid $primary-color;
}

.filters-card .btn-primary {
  background-color: $primary-color;
  border: none;
  color: $dark-bg-color;
  font-weight: bold;
}

.filters-card .btn-primary:hover {
  background-color: lighten($primary-color, 10%);
}

.artist-card {
  border: none;
  background-color: $light-bg-color;

  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title {
    font-weight: bold;
    color: $dark-bg-color;
  }

  .card-text {
    color: $secondary-color;
  }

  .btn-primary {
    background-color: #6c757d;
    border: none;
    color: $text-light;
    border-radius: $button-border-radius;
    padding: 6px 11px;
  }

  .btn-primary:hover {
    background-color: darken($dark-bg-color, 10%);
  }

  .carousel-inner img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: $dark-bg-color;
    border-radius: 50%;
  }
}
