.hero {
  background: url('../../../assets/imgs/2XwidLzQDmfsKwarvNL80u4h40U-desktop.jpg') no-repeat center center;
  background-size: cover;
}

.section {
  padding: 60px 0;
}

.footer {
  background: #333;
}
