<!-- Hero Section -->
<section id="hero" class="hero text-center py-5">
  <div class="container">
    <div class="hero-content">
      <img src="../../../assets/logos/logo_beige.svg" class="logo-moovart">
      <p class="text-hero">Discover and connect with local akljñhñlkkjlñrtists and events.</p>
    </div>
  </div>
</section>

<!-- Featured Artists Section -->
<section id="artists" class="section py-5 no-cursor">
  <div class="container">
    <div class="text-center">
      <h2 class="text-hero mb-5 mt-2">Discover and connect with local artist and events.</h2>
    </div>
    <h2 class="text-center mb-4">Featured Artists</h2>
    <div class="row">
      <ng-container *ngFor="let artist of featuredArtists">
        <div class="col-md-3 mb-4">
          <div class="card artist-card">
            <img [src]="artist.profile_photo_url ? 'http://localhost:3000' + artist.profile_photo_url : '/assets/imgs/default-profile-picture.png'" class="card-img-top" alt="{{ artist.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ artist.name }}</h5>
              <p class="card-text">{{ artist.bio }}</p>
              <a [routerLink]="['/user', artist.id_user]" class="btn btn-secondary btn-sm">View Profile</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center mt-4">
      <button mat-button class="btn btn-primary" [routerLink]="['/artists']">See More Artists</button>
    </div>
  </div>
</section>

<!-- Upcoming Events Section -->
<section id="events" class="section py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Upcoming Events</h2>
    <div class="row">
      <ng-container *ngFor="let event of upcomingEvents">
        <div class="col-md-6 mb-4">
          <div class="card event-card">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">{{ event.description }}</p>
              <p class="card-text"><small class="text-muted">{{ event.opening_date | date }} - {{ event.closing_date | date }}</small></p>
              <a [routerLink]="['/events', event.id_event]" class="btn btn-secondary btn-sm">View Details</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center mt-4">
      <button mat-button class="btn btn-primary" [routerLink]="['/events']">See All Events</button>
    </div>
  </div>
</section>
