<mat-toolbar color="accent" class="custom-toolbar">
  <button mat-icon-button class="mobile-menu-button" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/home">
    <span class="logo">LOGO</span>
  </a>
  <span class="spacer"></span>

  @if(isLoggedIn){
    <button mat-button class="custom-button" routerLink="/new-event">New Event</button>
  }
  <button mat-button class="custom-button" routerLink="/artists">Artists</button>
  <button mat-button class="custom-button" routerLink="/locals">Locals</button>
  <button mat-button class="custom-button" routerLink="/events">Events</button>
  @if(!isLoggedIn){
    <button mat-button class="custom-button" routerLink="/login">Log in</button>
  }
  @if(!isLoggedIn){
    <button mat-button class="custom-button" routerLink="/register">Register</button>
  }
  @if(isLoggedIn){
    <button mat-icon-button class="custom-icon-button" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToProfile()">Profile</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
    <button mat-icon-button class="custom-icon-button">
      <mat-icon>notifications</mat-icon>
    </button>
  }
</mat-toolbar>


<!--la sidebar no va-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
    <mat-nav-list>
      @if(isLoggedIn){
        <a mat-list-item routerLink="/new-event">New Event</a>
      }
      <a mat-list-item routerLink="/artists">Artists</a>
      <a mat-list-item routerLink="/locals">Locals</a>
      <a mat-list-item routerLink="/events">Events</a>
      @if(!isLoggedIn){
        <a mat-list-item routerLink="/login">Log in</a>
      }
      @if(isLoggedIn){
        <a mat-list-item (click)="logout()">Log out</a>
      }
      <a mat-list-item routerLink="/profile">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
