.navbar {
  margin-bottom: 20px;
}
.navbar-logo {
  max-height: 40px;
  max-width: 40px;
  width: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.logo{
  width: auto;
  height: 50px;
  transform: scale(4.4);
}

.navbar-toggler-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.list-group-item {
  border: none;
}

.navbar-nav .nav-item .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.list-group-item a {
  color: #343a40;
  text-decoration: none;
}

.list-group-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .navbar-nav.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #343a40;
  }

  .navbar-toggler {
    display: block;
  }
}

.navbar {
  .nav-link {
    color: white; /* Cambia el color del texto a blanco */;
    font-size: medium;



    &:hover {
      color: lightgray; /* Cambia el color del texto al pasar el mouse */
    }
  }
}

.userName{
  color: white;
  font-size: medium;
}

.arrow{
  color: white;
}

