$primary-color: #d6c17f;
$secondary-color: #6c757d;
$dark-bg-color: #343a40;
$light-bg-color: #f8f9fa;
$button-border-radius: 20px;
$text-light: #ffffff;
$text-dark: #343a40;
$danger-color: #af2735;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --dark-bg-color: #{$dark-bg-color};
  --light-bg-color: #{$light-bg-color};
  --text-light: #{$text-light};
  --text-dark: #{$text-dark};
  --danger-color: #{$danger-color};
}

.event-card {
  background-color: $light-bg-color;
  border-radius: 10px;
  border:none;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .img-fluid {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  color: $dark-bg-color;
}

.card-text {
  color: $secondary-color;
}

.btn-primary {
  background-color: $primary-color;
  border: none;
  border-radius: $button-border-radius;
  color: $dark-bg-color;
  font-weight: bold;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border: none;
  border-radius: $button-border-radius;
  color: $text-light;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.btn-danger {
  background-color: $danger-color;
  border: none;
  border-radius: $button-border-radius;
  color: $text-light;

  &:hover {
    background-color: darken($danger-color, 10%);
  }
}

.interested-users-container {
  position: relative;
}

.interested-users-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.interested-users {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.interested-user-card {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 15px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  background-color: $light-bg-color;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .card-body {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .card-title {
    font-size: 0.875em;
    color: $dark-bg-color;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.scroll-button {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: $secondary-color;
  z-index: 1;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:disabled {
    color: $secondary-color;
    cursor: not-allowed;
  }
}
