<div class="container mt-5 profile-view-container">
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger text-center">
    {{ error }}
  </div>
  <div *ngIf="!loading && profile" class="row">
    <div class="col-md-8">
      <h1 class="profile-name">{{ profile.name }}</h1>
      <p class="profile-role">{{ profile.user_type }}</p>
      <hr class="profile-separator">

      <!-- Galería de fotos del usuario -->
      <div class="user-photos">
        <h3>Galería de Fotos</h3>
        <input type="file" (change)="onFileSelected($event)" multiple accept="image/*" />
        <button class="btn btn-primary mt-3" (click)="uploadPhotos()">Subir Fotos</button>
        <div *ngIf="photoUrls.length > 0" class="photo-gallery mt-4">
          <div *ngFor="let photoUrl of photoUrls" class="photo">
            <img [src]="'http://localhost:3000' + photoUrl" alt="User Photo" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center profile-section bg-beige">
      <div class="profile-photo-container">
        <img [src]="'http://localhost:3000' + (profile.profile_photo_url || '/uploads/default-profile-picture.jpg')" class="rounded-circle profile-photo mb-3" alt="Profile Photo">
      </div>
      <button class="btn btn-primary mb-4 mt-4" (click)="editProfile()">Edit Profile</button>
      <div class="profile-details">
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p *ngIf="profile.bio"><strong>Bio:</strong></p>
        <p *ngIf="profile.bio">{{ profile.bio }}</p>
        <p *ngIf="profile.website"><strong>Website:</strong></p>
        <p *ngIf="profile.website"><a [href]="profile.website" target="_blank">{{ profile.website }}</a></p>
      </div>
    </div>
  </div>
</div>
