.container {
  margin-top: 20px;
}

.filters-column {
  position: relative;
  left: -20px;
}

.filters-card {
  background-color: #343a40;
  color: #fff;
  border: none;
  width: 300px;
  padding: 20px;
}

.filters-card .card-title {
  font-weight: bold;
  color: #d6c17f;
}

.filters-card .form-label {
  color: #d6c17f;
}

.filters-card .form-control,
.filters-card .form-select {
  background-color: #495057;
  color: #fff;
  border: 1px solid #d6c17f;
}

.filters-card .btn-primary {
  background-color: #d6c17f;
  border: none;
  color: #343a40;
  font-weight: bold;
}

.filters-card .btn-primary:hover {
  background-color: #bdab6f;
}

.artist-card {
  border: none;
  background-color: #f8f9fa;
}

.artist-card .card-body {
  padding: 15px;
}

.artist-card .card-title {
  font-weight: bold;
  color: #343a40;
}

.artist-card .card-text {
  color: #6c757d;
}

.artist-card .btn-primary {
  background-color: #6c757d;
  border: none;
  color: #fff;
  padding: 6px 11px;
}

.artist-card .btn-primary:hover {
  background-color: #23272b;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  border-radius: 50%;
}

.artist-card {
  .carousel-inner {
    img {
      object-fit: cover;
      height: 200px;
      width: 100%;
    }
  }
}

