<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Artistas</h2>
  <form [formGroup]="filterForm" class="mb-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-md-6 mb-3">
        <label for="genre" class="form-label">Género</label>
        <input id="genre" type="text" class="form-control" formControlName="genre">
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let artist of artists">
      <div class="card h-100">
        <img *ngIf="artist.profile_photo_id" [src]="'/assets/images/' + artist.profile_photo_id" class="card-img-top" alt="Artist Photo">
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.bio }}</p>
          <p class="card-text"><strong>Género:</strong> {{ artist.genre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
